= form_for @message, url: messages_path, html: { class: 'py-4 form needs-validation', novalidate: true } do |f|

  .form-row
    .col-2
      = f.label :recipients, t('activerecord.attributes.message.recipients')
    .col-4
      %fieldset{ disabled: true }
        = f.text_field :recipients, class: 'form-control mb-4', placeholder: 'Alle', required: true
        -# = f.text_field :recipients, class: 'form-control mb-4', required: true

      .invalid-feedback
        = t('activerecord.errors.models.message.attributes.recipients.form')
  .form-row
    .col-2
      = f.label :subject, t('activerecord.attributes.message.subject')
    .col-4
      = f.text_field :subject, class: 'form-control mb-4', required: true
      .invalid-feedback
        = t('activerecord.errors.models.message.attributes.subject.form')
  .form-row
    .col-2
      = f.label :body, t('activerecord.attributes.message.body')
    .col-4
      = f.text_area :body, class: 'form-control mb-4', required: true

  .form-row
    .col-6.text-right
      .actions.pt-2
        = f.submit t('send'), class: 'btn btn-save'
