%nav.navbar.navbar-dark.sticky-top.flex-md-nowrap.p-0.shadow
  = link_to 'p:int:u', root_path, class: 'navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center'
  .info-container
    = render 'parts/alerts'
  %ul.navbar-nav.navbar-icons.flex-row.mx-4.my-2
    = link_to root_path do
      %li.nav-item.ni-1
        = svg 'envelope'
    = link_to user_path(current_user) do
      %li.nav-item.ni-2
        = svg 'id-card'
    = link_to root_path do
      %li.nav-item.ni-3
        = svg 'cog'

.container-fluid
  .row
    %nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.sidebar.collapse
      .sidebar-sticky
        %ul.nav.flex-column
          .nav-item.primary.humans
            = link_to 'Menschen', root_path, class: 'nav-link'
          .nav-item.secondary.add
            = link_to 'erstellen', root_path, class: 'nav-link'
          .nav-item.primary.courses
            = link_to 'Kurse', root_path, class: 'nav-link'
          .nav-item.secondary.add
            = link_to 'erstellen', root_path, class: 'nav-link'
          .nav-item.secondary.exclamation
            = link_to 'auswerten', root_path, class: 'nav-link'
        - if current_user.has_role?(:admin) || current_user.has_role?(:user_manager)
          %ul.nav.flex-column.admin
            .nav-item.primary.users
              = link_to 'Mitarbeiter', users_path, class: 'nav-link'
        %ul.nav.flex-column.logout.text-center
          .nav-item
            = link_to current_user.username + ' ausloggen', destroy_user_session_path, :method => :delete, class: 'nav-link'
