%nav.navbar.navbar-dark.sticky-top.flex-md-nowrap.p-0.shadow
  = link_to 'p:int:u', root_path, class: 'navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center'
  .info-container
    = render 'parts/alerts'
  %ul.navbar-nav.navbar-icons.flex-row.mx-4.my-2
    = link_to messages_path do
      %li.nav-item.ni-1
        = svg 'envelope'
    = link_to my_show_path do
      %li.nav-item.ni-2
        = svg 'id-card'
    .with-dropdown
      %li.nav-item.ni-3#settingsButton{ 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false}
        = svg 'cog'
      .dropdown-menu{ 'aria-labelledby': 'settingsButton' }
        %h6.dropdown-header= I18n.t('nav.languages')
        - I18n.available_locales.each do |locale|
          = link_to I18n.t(locale), "/#{locale}", class: "dropdown-item #{I18n.locale == locale ? 'active' : ''}"
        %hr
        = link_to I18n.t('user.logout', user: current_user.username), destroy_user_session_path, :method => :delete, class: 'dropdown-item'

.container-fluid
  .row
    %nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.sidebar.collapse
      .sidebar-sticky
        %ul.nav.flex-column
          // placeholder content
          %li.nav-item.primary.humans
            = link_to 'Menschen', root_path, class: 'nav-link'
          %li.nav-item.secondary.add
            = link_to 'erstellen', root_path, class: 'nav-link'
          %li.nav-item.primary.courses
            = link_to 'Kurse', root_path, class: 'nav-link'
          %li.nav-item.secondary.add
            = link_to 'erstellen', root_path, class: 'nav-link'
          %li.nav-item.secondary.exclamation
            = link_to 'auswerten', root_path, class: 'nav-link'

        - if can? :manage, User
          %ul.nav.flex-column.admin
            %li.nav-item.primary.users
              = link_to I18n.t('nav.users'), users_path, class: 'nav-link'
            %li.nav-item.secondary.add
              = link_to I18n.t('nav.user.create'), new_user_path, class: 'nav-link'
            %li.nav-item.secondary.exclamation
              = link_to I18n.t('nav.user.roles'), roles_path, class: 'nav-link'


        %ul.nav.flex-column.logout.text-center
          .nav-item
            = link_to I18n.t('user.logout', user: current_user.username), destroy_user_session_path, :method => :delete, class: 'nav-link'
