= form_for @user, html: { class: 'py-4 form needs-validation', novalidate: true } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-row
    .col-2
      = f.label :username
    .col-4
      = f.text_field :username, class: 'form-control mb-4', required: true
      .invalid-feedback
        Username ist erforderlich
  .form-row
    .col-2
      = f.label :email
    .col-4
      = f.email_field :email, class: 'form-control mb-4', required: true
      .invalid-feedback
        gültige Email-Adresse ist erforderlich
  - if @user.persisted?
    .form-row
      .col-2
        = f.label :roles
      .col-4


  .form-row
    .col-6.text-right
      .actions.pt-2
        = f.submit 'Speichern', class: 'btn btn-save'

= javascript_pack_tag 'form_validation'
