#passwordForm.modal.fade{ tabindex: '-1' }
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title= I18n.t('user.update.password')
        %button.close{ type: 'button', 'data-dismiss': 'modal' }
          &times;
      .modal-body
        = form_for @user, html: { class: 'py-4 form needs-validation', novalidate: true } do |f|
          .form-row
            .col-4
              = f.label :new_password
            .col-8
              = f.password_field :password, class: 'form-control mb-4', required: true, minlength: 8
              .invalid-feedback
                = I18n.t('activerecord.errors.models.user.attributes.password.form')
          .form-row
            .col-4
              = f.label :password_confirmation
            .col-8
              = f.password_field :password_confirmation, class: 'form-control mb-4', required: true
              .invalid-feedback
                = I18n.t('activerecord.errors.models.user.attributes.password.form')
          .form-row
            .col-12.text-right
              .actions.pt-2
                = f.submit 'Speichern', class: 'btn btn-save'
      .modal-footer
