#passwordForm.modal.fade{ tabindex: '-1' }
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title= t('user.update.password')
        %button.close{ type: 'button', 'data-dismiss': 'modal' }
          &times;
      = form_for @user, html: { class: 'pt-4 form needs-validation', novalidate: true } do |f|
        .modal-body
          .form-row
            .col-2
            .col-10
              %p= t('user.change_password_info').html_safe
          .form-row
            .col-2
              = f.label :password
            .col-10
              = f.text_field :password, class: 'form-control mb-4', required: true, minlength: 8, placeholder: t('user.change_password_placeholder')
              .invalid-feedback
                = t('activerecord.errors.models.user.attributes.password.form')
        .modal-footer
          = f.submit 'Speichern', class: 'btn btn-save btn-block'
