.form-row
  .col-2
    = f.label :password
  .col-4
    = f.password_field :password, class: 'form-control mb-4', required: true, minlength: 8
    .invalid-feedback
      = I18n.t('activerecord.errors.models.user.attributes.password.form')
.form-row
  .col-2
    = f.label :predefined_roles
    %small.form-text.text-muted
      %em= I18n.t('activerecord.attributes.user.predefined_roles_info')
  .col-4
    = f.text_field :predefined_roles
    %ul.list-group-flush
      - Role.all.each do |role|
        - if @user.has_role?(role.name) || can?(:manage, @user)
          %li.list-group-item
            = role.name.humanize
            = link_to '#', class: 'badge badge-pill badge-light  float-right', id: 'predefineRole' do
              = I18n.t('remove')
            = link_to '#', class: 'badge badge-pill badge-dark float-right', id: 'revokePredefinition' do
              = I18n.t('predefine')
.form-row
  .col-6.text-right
    .actions.pt-2
      = f.submit I18n.t('save'), class: 'btn btn-save'
