.edit-actions
  .form-row
    .col-4.offset-2
      %hr
  .form-row
    .col-2
      = f.label :roles
    .col-4
      %ul.list-group-flush
        - if can? :manage, @user
          - roles = @user.has_role?(:bambi) ? Role.for_new_user : Role.real
          - roles.each do |role|
            %li.list-group-item
              - if @user.has_role?(role.name)
                %strong= t("role.#{role.name}")
                = link_to t('remove'), revoke_role_user_path(@user, role: role.name), class: 'badge badge-pill badge-light  float-right'
              - else
                = t("role.#{role.name}")
                = link_to add_role_user_path(@user, role:role.name), class: 'badge badge-pill badge-dark float-right' do
                  = t(@user.has_role?(:bambi) ? 'predefine' : 'add')
        - else
          - @user.roles.each do |role|
            %li.list-group-item
              = t("role.#{role.name}").html_safe
