.title-box
  %h1
    - if @mine
      = link_to @user.username, my_show_path
    - else
      = link_to @user.username, user_path(@user)
    = I18n.t('edit').downcase

.row
  .col-10
    = render 'form'

= render 'qrcode'
