.title-box
  %h1= I18n.t('user.title')
  - if can? :manage, User
    = link_to I18n.t('create').downcase, new_user_path, class: 'add-link'

.row
  .col-10
    %table.table.table-borderless.table-hover
      %thead
        %tr
          %th= I18n.t('activerecord.attributes.user.username')
          %th= I18n.t('activerecord.attributes.user.email')
          %th= I18n.t('activerecord.attributes.user.roles')
          %th= I18n.t('activerecord.attributes.user.otp_active')
          %th

      %tbody
        - @users.each do |user|
          %tr{ class: user == current_user ? 'table-warning' : ''}
            - if can? :read, user
              %td.p-0
                = link_to user.username, user, class: 'block-link'
            - else
              %td
                = user.username
            %td= user.email
            %td
              = index_roles(user).html_safe
            %td.p-0
              .icon-toggler{ class: user.otp_required_for_login? ? 'on' : 'off' }
                = svg 'lock'
                .on
                  = svg 'check'
            %td.p-0.text-right
              - if can? :update, user
                = link_to edit_user_path(user), class: 'icon-link' do
                  = svg 'pencil'
              - if can? :destroy, user
                = link_to user, method: :delete, data: { confirm: I18n.t('user.confirm_delete', user: user.username) }, class: 'icon-link' do
                  = svg 'trashcan'
