.container
  .row.justify-content-center
    .col-10.col-sm-6.col-md-4
      %h2 Log in

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'

        .form-group
          = f.label :otp_attempt
          = f.text_field :otp_attempt, class: 'form-control'

        .actions
          = f.submit "Log in"
 