!!!
%html
  %head
    %title Pintu
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'parts/navigation'

    %main.col-md-9.ml-sm-auto.col-lg-10.py-2.px-0
      .container-fluid
        = yield
